.magic-title-primary {
  font-size:3em;
}

.magic-shift-div {
	width: auto;
	margin-left: 15%;
}

.magic-centered-div {
	width: auto;
	margin-left: 20%;
	margin-top: 20px;
	margin-bottom: 20px;
}

.magic-text-centered {
	margin-top: 20px;
}

.magic-wrapper {
	max-height: 425px;
}

.magic-icon-image {
	text-align: left;
}

.magic-text-input {
	
}

#magic-sidebar {
	vertical-align: top;
}

#magic-message-box {
	width: 50%;
}

#magic-message-input {
	width: 60%;
}