<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li>
        <a class="navbar-brand">MAGIC</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['Profile']">My Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['Find']">Find New People</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['Matches']">My Matches</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['Settings']">Settings</a>
      </li>
      <li class="nav-item pull-right">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
