<!-- <nav class="navbar navbar-fixed-top navbar-dark bg-inverse magic-navbar">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li>
        <a class="navbar-brand magic-title-secondary">MAGIC</a>
      </li>
      <li class="nav-item">
        <a class="nav-link magic-text-secondary" [routerLink]="['Profile']">My Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link magic-text-secondary" [routerLink]="['Find']">Find New People</a>
      </li>
      <li class="nav-item">
        <a class="nav-link magic-text-secondary" [routerLink]="['Matches']">My Matches</a>
      </li>
      <li class="nav-item">
        <a class="nav-link magic-text-secondary" [routerLink]="['Settings']">Settings</a>
      </li>
      <li class="nav-item pull-right">
        <a class="nav-link magic-text-secondary" href="/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav> -->
<div id='cssmenu'>
  <ul id='nav'>
    <li class="logo"> MAGIC <!-- <img src="logo.png" height="46px"> --> </li>
    <li><a [routerLink]="['Profile']">My Profile</a></li>
    <li><a [routerLink]="['Find']">Find New People</a></li>
    <li><a [routerLink]="['Matches']">My Matches</a></li>
    <li><a [routerLink]="['Settings']">Settings</a></li>
    <li><a href='/logout'>Logout</a></li>
  </ul>
</div>

<router-outlet></router-outlet>

