<div class="container">
    <div class="large-container">
        <div class="page-header text-center">
            <h1 class="title-secondary"> Matches </h1>
        </div>
    
        <div class="inner-container">
            <div class="row">
                <div class="col-sm-4">
                    <ul class="list-group">
                        <li class="list-group-item" *ngFor="#match of matched" (click)="makeSelection(match.id)">{{match.first_name}}</li>
                    </ul>
                </div>
                <div class="col-sm-8">
                    
                </div>
            </div>
        </div> 
        <div class="inner-container" *ngIf="errorMessage">
            <div class="magic-wrapper magic-text-centered">
               <span class="magic-text-normal">{{errorMessage}}</span>
            </div>

        </div>
    </div>
</div>