<div class="container">
    <div class="large-container">
        <div class="page-header text-center">
            <h1 class="title-secondary"> Matches </h1>
        </div>
    
        <div class="inner-container">
            <div class="row">
                <div class="col-sm-4">
                    <ul class="list-group">
                        <li class="list-group-item" *ngFor="#id of matched" (click)="makeSelection(id)">{{id}}</li>
                    </ul>
                </div>
                <div class="col-sm-8" *>
                    
                </div>
            </div>
            <h3 class="text-primary">People you have matched with</h3>
        </div> 
        <div class="inner-container" *ngIf="errorMessage">
            {{errorMessage}}
        </div>
    </div>
</div>