<div class="container">
    <div class="large-container">
        <!-- <div class="page-header text-center">
            <h1 class="magic-title-secondary"> Profile Page</h1>
        </div> -->
    
       <!--  <div class="inner-container" *ngIf="profile">
            <h3 class="text-primary">Facebook</h3>
            <img [src]="profile.photo" height="200px" width="200px"/>
            <p>
                <span class="text-primary"> email: </span><span class="data-primary"> {{profile.email}}</span><br>
                <span class="text-primary"> name: </span><span class="data-primary"> {{profile.name}}</span><br>
            </p>
        </div>  -->

        <div class="magic-wrapper magic-text-centered">
            <h3 class="magic-text-primary">Your Profile</h3>
            <hr class="magic-hr">

            <img [src]="profile.photo" height="200px" width="200px"/>
            <span class="text-primary"> email: </span><span class="magic-text-secondary"> {{profile.email}}</span><br>
            <span class="text-primary"> name: </span><span class="magic-text-secondary"> {{profile.name}}</span><br>
            <!-- NEED TO CONVERT TO ANGULAR SO A POST CAN BE MADE -->
            
        </div>     
    </div>
</div>