<div class="container">
    <div class="large-container">
        <div class="page-header text-center">
            <h1 class="title-secondary"> Settings Page</h1>
        </div>
    
        <div class="form-container">
            <h3 class="text-primary">Matching algorithm</h3>
            <p class="text-primary"> Pick how you want to match with people:</p>
            <!-- NEED TO CONVERT TO ANGULAR SO A POST CAN BE MADE -->
            <form action="/settings/matching" method="POST">
              <input type="checkbox" name="preferences" value="Likes" checked><span class="text-primary"> Likes </span><br>
              <input type="checkbox" name="preferences" value="Friends"><span class="text-primary"> Friends </span><br>
              <input type="checkbox" name="preferences" value="Location"><span class="text-primary"> Location </span><br>
              <input type="checkbox" name="preferences" value="Hometown"><span class="text-primary"> Hometown </span><br>
              <input type="checkbox" name="preferences" value="Tagged Places"><span class="text-primary"> Tagged Places </span><br>
              <input type="checkbox" name="preferences" value="Events"><span class="text-primary"> Events </span><br>
              <input type="checkbox" name="preferences" value="Books"><span class="text-primary"> Books </span><br>
              <input type="checkbox" name="preferences" value="Music"><span class="text-primary"> Music </span><br>
              <input class="btn-primary" type="submit" value="Submit">
            </form>
            
        </div> 
    </div>
</div>