<div class="container">
    <div class="magic-large-container">    
        <div class="magic-wrapper">
            <h3 class="magic-text-primary magic-text-centered">Matching algorithm</h3>
            <hr class="magic-hr">
            <p class="magic-text-secondary magic-text-centered"> Pick how you want to match with people:</p>
            <!-- NEED TO CONVERT TO ANGULAR SO A POST CAN BE MADE -->
            <form *ngIf="settings">
              <select class="form-control magic-select" [(ngModel)]="settings.orientation">
                <option *ngFor="#o of orientations" [value]="o">{{o}}</option>
              </select>
              <div class="magic-centered-div">
                <div class="magic-centered-row">
                  <input type="checkbox" [(ngModel)]="settings.likes"><span class="magic-text-secondary"> Likes </span><br>
                  <input type="checkbox" [(ngModel)]="settings.friends"><span class="magic-text-secondary"> Friends </span><br>
                  <input type="checkbox" [(ngModel)]="settings.location"><span class="magic-text-secondary"> Location </span><br>
                </div>
                <div class="magic-centered-row">
                  <input type="checkbox" [(ngModel)]="settings.hometown"><span class="magic-text-secondary"> Hometown </span><br>
                  <input type="checkbox" [(ngModel)]="settings.tagged_places"><span class="magic-text-secondary"> Tagged Places </span><br>
                  <input type="checkbox" [(ngModel)]="settings.events"><span class="magic-text-secondary"> Events </span><br>
                </div>
                <div class="magic-centered-row">
                  <input type="checkbox" [(ngModel)]="settings.music"><span class="magic-text-secondary"> Music </span><br>
                  <input type="checkbox" [(ngModel)]="settings.books"><span class="magic-text-secondary"> Books </span><br>
                </div>
              </div>
              <button (click)="postSettings()" class="magic-btn-primary">Change Preferences</button>
            </form>  
        </div> 
    </div>
</div>