<!DOCTYPE html>
<html>
<head>
	<!-- Taken from the views headers -->
    <title>Match</title>
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" href="css/profile_styles.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <header>
        <a href="/play"><div id="logo" align="center"></div></a>
        <div id="nav-container">
          <ul id="nav-bar">
            <li class="nav-item"> <a class="nav-link" href="/match">MY MATCHES</a> </li>
            <li class="nav-item"> <a class="nav-link" href="/profile">MY PROFILE</a> </li>
            <li class="nav-item"> SETTINGS </li>
          </ul>
        </div>
    </header>
	<div class="container" id="top">
		<div class="row" id="images">
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1" id="left-arrow">
				<img src="/images/Arrow_Left.png" class="img-responsive" />
			</div>
			<div class="col-md-2" id="profile-pic">
				<img src="/images/Profile_Pic_NoArrows.png" class="img-responsive"/>	
			</div>
			<div class="col-md-1" id="right-arrow">
				<img src="/images/Arrow_Right.png" class="img-responsive" />
			</div>
		</div>
	</div>
	<div class="container" id="info">
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4" id="about">
				<h4> About Me </h4>
				<p id="bio"> I am a scholar of history looking for another person who loves candles and pasta </p>
			</div>
		</div>
	</div>
	<img src="/images/Long_Dividing_Bar.png" id="dividing-bar">
		<div class="container">
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4" id="additional-info">
					<p id="age"> Age 22 </p>
					<p id="location"> Providence, RI </p>
					<p id="other"> Brown University </p>
				</div>
			</div>
		</div>
	<div class="container" id="bottom"></div>
</body>
</html>