<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" type="text/css" href="../resources/css/wheel.css">
</head>

<body>

<div id = "choice">

<img style="border: 0;" src="../images/Home_Choice_Circle.png" width="500" height="400" alt="circle" id = "wheel_pic" usemap="#circlemap">

<map id="circlemap" name="circlemap">
  <area 
  		class="area"
  		id="area1"
  		shape="circle"
        coords="250,74,40"
        alt="Love" 
        href="#" class = "link" id = "love" />
  <area 
  		class="area"
  		id="area2"
  		shape="circle"
        coords="94,197,41" 
        alt="Pass"
        href="#" class = "link" id = "dislike" />
  <area 
  		class="area"
  		id="area3"
  		shape="circle"
        coords="405,195,41"
        alt="Like"
        href="#" class = "link" id = "like" />
</map>

</div>

</body>
</html>