@import url(http://fonts.googleapis.com/css?family=Raleway);

body {
	background: #333333;
}

/* CSS for navbar */
nav {
	position: fixed;
	top:0; 
	left:0; 
	z-index:9999;
}

.navbar-brand:hover {
	color: black;
}

.nav-link:hover {
	color: black;
}

.magic-navbar {
  margin-bottom: 100px;
}

/* CSS for header lines */
.magic-hr {
  border: 0;
  height: 2px;
  background: -moz-linear-gradient(left center, transparent, #6E6E6E, transparent);
  background: -webkit-gradient(linear, left center, right center,
                                 color-stop(0, transparent),
                                 color-stop(0.5, #6E6E6E),
                                 color-stop(1, transparent));
}
/* CSS for containers */
.magic-inner-container {
	width: 60%;
  height: auto;
	margin-top: 10%;
	margin-left: 20%;
  word-wrap: break-word;
}

.magic-large-container {
	width: 95%;
	margin-top: 5%;
	margin-left: 2.5%;
}

.magic-left-container {
  display: inline-block;
  overflow: auto;
  width: 25%;
  vertical-align: middle;
  text-align: center;
}

.magic-right-container {
  display: inline-block;
  overflow: auto;
  margin-left: 10%;
  width: 25%;
  vertical-align: middle;
  text-align: left;
}

/* CSS for alignment */
.magic-centered-row {
  display: inline-block;
  margin-left: 5%;
}

/* CSS for alignment */
.magic-centered-row {
  display: inline-block;
  margin-left: 5%;
}

/* CSS for wrappers */
.magic-wrapper {
  box-sizing: border-box;
  overflow: auto;
  margin-top: 15px;
  margin-bottom: 10px;
  width: 95%;
  margin-left: 2.5%;
  box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.2);
  border-radius: 3px;
}

.magic-left-wrapper {
  box-sizing: border-box;
  display: inline-block;
  overflow: auto;
  margin-top: 50px;
  width: 25%;
  box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.2);
  border-radius: 3px;
}

.magic-right-wrapper {
  box-sizing: border-box;
  display: inline-block;
  overflow: auto;
  margin-top: 50px;
  margin-left: 2%;
  width: 60%;
  box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.2);
  border-radius: 3px;
}


/* CSS for titles */
.magic-title-primary {
  font-family: Raleway, sans-serif;
  font-size:14em;
  color:#FFF;
  text-transform:uppercase;
  text-shadow:#000 0px 1px 5px;
}

.magic-title-secondary {
  font-family: Raleway, sans-serif;
  font-size:3em;
  color:#FFF;
  text-transform:uppercase;
}



/* CSS for text */
.magic-text-centered {
  text-align: center;
}

.magic-text-primary {
  font-family: Raleway, sans-serif;
  font-size:1.5em;
  color:#FFF;
  text-transform:uppercase;
  text-shadow:#000 0px 1px 5px;
}

.magic-text-secondary {
  font-family: Raleway, sans-serif;
  font-size:1.3em;
  color:#BBBBBB;
  text-transform:uppercase;
  text-shadow:#000 0px 1px 5px;
}

.magic-text-normal {
  font-family: Raleway, sans-serif;
  font-size:1.2em;
  color:#BBBBBB;
}





/* CSS for buttons */
.magic-btn-primary {
  padding:15px;
  border-radius:5px;
  @include disable;
  background: #9932CC;
  font-family: Raleway, sans-serif;
  font-size:14px;
  color:#FFF;
  text-transform:uppercase;
  text-shadow:#000 0px 1px 5px;
  border:1px solid #000;
  opacity:0.9;
	-webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.7);
  -moz-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.7);
	box-shadow: 0 8px 6px -6px rgba(0,0,0,0.7);
  border-top:1px solid rgba(255,255,255,0.8)!important;
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(255,255,255,0.2)));
  outline: 0;
}

.magic-btn-primary:hover {
  color: #9932CC;
  background: #FFF;
  box-shadow: 0 6px 6px 0 rgba(0,0,0,0.2);
  outline: none;
  text-decoration: none;
}


/* CSS for navmenu */
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  vertical-align: bottom;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
}
#cssmenu .logo{
  font-size: 2.5em;
  color: #FFF;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow:#000 0px 1px 5px;
}

#cssmenu #menu-button {
  display: none;
}
#cssmenu {
  width: auto;
  font-family: Raleway, sans-serif;
  line-height: 1;
}
#cssmenu > ul {
  background: #9932CC;
}
#cssmenu > ul > li {
  float: left;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu > ul > li > a {
  padding: 16px 20px;
  font-size: 1.1em;
  color: #FFF;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  background: #9932CC;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
#cssmenu > ul > li.active > a {
  color: black;
}
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li > a:hover {
  color: #FFF;
  /*-webkit-transform: rotateX(90deg) translateY(-23px);
  -moz-transform: rotateX(90deg) translateY(-23px);
  transform: rotateX(90deg) translateY(-23px);
  -ms-transform: none;*/
}
#cssmenu > ul > li > a::before {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: -1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 16px 20px;
  color: #FFF;
  background: #9932CC;
  content: attr(data-title);
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  transition: background 0.3s;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -ms-transform: translateY(- -18px);
}
#cssmenu > ul > li:hover > a::before,
#cssmenu > ul > li > a:hover::before {
  background: #9932CC;
}
#cssmenu.small-screen {
  width: 100%;
}
#cssmenu.small-screen > ul,
#cssmenu.small-screen.align-center > ul {
  width: 100%;
  text-align: left;
}
#cssmenu.small-screen > ul > li,
#cssmenu.small-screen.align-center {
  float: none;
  display: block;
  border-top: 1px solid rgba(100, 100, 100, 0.1);
}
#cssmenu.small-screen > ul > li:hover > a,
#cssmenu.small-screen > ul > li > a:hover {
  color: #FFF;
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
  -ms-transform: none;
}
#cssmenu.small-screen > ul > li > a::before {
  display: none;
}
#cssmenu.small-screen #menu-button {
  display: block;
  padding: 16px 20px;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: #9932CC;
}
#cssmenu.small-screen #menu-button:after {
  content: "";
  position: absolute;
  right: 20px;
  top: 17px;
  display: block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  width: 22px;
  height: 3px;
}
#cssmenu.small-screen #menu-button.menu-opened:after {
  border-top: 2px solid #dff2fa;
  border-bottom: 2px solid #dff2fa;
}
#cssmenu.small-screen #menu-button:before {
  content: "";
  position: absolute;
  right: 20px;
  top: 27px;
  display: block;
  width: 22px;
  height: 2px;
  background: #ffffff;
}
#cssmenu.small-screen #menu-button.menu-opened:before {
  background: #dff2fa;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #6E6E6H;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: #6E6E6H;
}
